@font-face {
  font-family: 'VCR';
  src: url('/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'VCR', monospace;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #1500cc;
  border: 1px solid #3498DB;
}
::-webkit-scrollbar-thumb:hover {
  background: #3498DB;
}
